version: "3.8"
name: clffrutal

services:
  postgres:
    image: postgres:17
    container_name: clf-postgres-dev
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env.development

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
